@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #802392;
  --primary-shade: #90479c;
  --primary-shade-translucent: #90479c33;
  --secondary: #2df199;
  --secondary-shade: #a5f8d3;
  --faded-blue: #a0b9c6;
  --gray: #9a98b5;

  --bg-color: white;
  --bg-color-contrast: rgb(40, 40, 40);
  --bg-color-contrast-translucent: rgba(0, 0, 0, 0.2);
  --faded-bg-color: rgb(230, 230, 230);
  --faded-bg-color-light: rgb(241, 245, 245);
  --text-color: black;
  --faded-text-color: rgb(139, 139, 139);
  --text-color-contrast: white;
}

.dark {
  --primary: #682172;
  --primary-shade: #74417e;
  --primary-shade-translucent: #703c7a33;
  --secondary: #17975e;
  --secondary-shade: #2a7c57;
  --faded-blue: #a0b9c6;
  --gray: #9a98b5;

  --bg-color: black;
  --bg-color-contrast: rgb(230, 230, 230);
  --bg-color-contrast-translucent: rgba(255, 255, 255, 0.2);
  --faded-bg-color: rgb(40, 40, 40);
  --faded-bg-color-light: rgb(50, 50, 50);
  --text-color: white;
  --faded-text-color: rgb(230, 230, 230);
  --text-color-contrast: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  display: none;
}

* {
  box-sizing: border-box;
  font-family: 'SUSE', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  transition-property: color, background-color;
  transition-duration: 0.5s;
}

::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: var(--faded-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1em;
}
