body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'SUSE', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nerko {
  font-family: 'Nerko One';
  font-weight: 400;
  font-style: normal;
}
